<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyclone Intensity Prediction Using DeepLearning</title>
    <link rel='stylesheet' href={{url_for('static' , filename = 'css/style.css')}}>
</head>
<body>
    <header>
        <h1>Cyclone Intensity Prediction</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/predict">Prediction</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <h2>Welcome to our Cyclone Intensity Prediction Website</h2>
            <p>Upload an ir satilite cyclone image and let us predict the intensity of cyclone for you!</p>
            <a href="/predict" class="btn">Intensity Prediction</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Cyclone Intensity Prediction Platform. All rights reserved.</p>
    </footer>
</body>
</html>
